 <a href="/">Volver</a>

  {{#if user}}
    <a href="/alltops" class="btn btn-primary">Todos los Tops</a>
    <div class="container profile">
      <h2>Perfil</h2>
      <p>Nombre: {{user.username}}</p>
      <p>Correo electrónico: {{user.email}}</p>
    </div>
  {{/if}}

  {{#each allTopsWithMovies}}
    <div class="container mt-5">
      <h2>Top 5 Películas de {{username}}</h2>
      <ul class="list-unstyled">
        {{#each moviesData}}
          <li class="movie-item">
            <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}" class="movie-poster">
            <p class="movie-title">{{this.title}} ({{this.release_date}})</p>
            {{#if user}}
              <form action="/remove-from-top" method="POST">
                <input type="hidden" name="movieId" value="{{this.id}}">
                <button type="submit">Eliminar del Top</button>
              </form>
            {{/if}}
          </li>
        {{/each}}
      </ul>

      {{#if user}}
        <form action="/add-comment" method="POST">
          <input type="hidden" name="topId" value="{{this._id}}">
          <textarea name="content" placeholder="Escribe tu comentario aquí" required></textarea>
          <button type="submit">Agregar Comentario</button>
        </form>
      {{/if}}

      <h3>Comentarios:</h3>
      <ul class="comments-list">
        {{#each comments}}
          <li>{{this.content}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}