{{#if tops}}
  <div class="container">
    <br>
    <h2>All Tops</h2>
    <div class="tops-container">
      <div class="row">
        {{#each tops}}
          <div class="col-md-4">
            <a href="/alltops/{{this._id}}" class="top-link">
              <div class="top-box">
                <h3>{{this.owner.username}}'s Top</h3>
                <ul>
                  {{#each this.moviesData}}
                    <li>
                      <img class="movie-poster" src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}">
                      <p class="movie-title">{{this.title}}</p>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{else}}
  <div class="container">
    <p>No tops available.</p>
  </div>
{{/if}}
