  
  
 
  <div class="container my-5">
    {{#unless user}}
    <h1 class="text-center">Welcome to our movie website! To create your top 5 movie list, sign up and log in. Join now to share your favorites and see others tops!</h1>
    <div class="image-container">
    <img src="/images/top53.jpeg" alt="Imagen TOP 5">
    </div>
    {{/unless}}
     {{#if user}}
    <form action="/search" method="GET">
      <div class="mb-3">
        <label for="movie" class="form-label">Película</label>
        <input id="movie" type="text" class="form-control" name="movie" />
      </div>
      <button type="submit" class="btn btn-primary">Buscar película</button>
    </form>
  </div>
  {{/if}}


{{#if movie}}
  <div class="movie-info">
    <h2>Movie Info</h2>
    <p>Name: {{movie.title}}</p>
    <p>Release Year: {{movie.release_date}}</p>
  </div>
{{else}}
  {{#if movies}}
    <div class="container mt-5">
      <h2>Resultados de la búsqueda:</h2>
      <ul>
        {{#each movies}}
          <li><a href="/movies/{{this.id}}"> {{this.title}} ({{this.release_date}})</a></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}} 



{{#if user.top5}}
  <div class="container mt-5">
    <h2>Top 5 Películas de {{user.username}}</h2>
    <ul>
      {{#each user.top5}}
        <li><a href="/movies/{{this.id}}">{{this.title}} ({{this.release_date}})</a></li>
      {{/each}}
    </ul>
  </div>
{{/if}}




  





