{{#unless user}}
<div class="main-container">
  <div class="text-container">
    <h1>Welcome to Top5!</h1>
    <h2>Sign up and log in to create your top 5 movie list.</h2>
    <h2>Join now to share your favorites and discover others' top picks!</h2>
  </div>
  <div class="image-container">
    <img src="/images/top53.jpeg" alt="TOP 5 Image">
  </div>
</div>

{{/unless}}

{{#if user}}
  {{#unless movies}} 
    <div class="info-message">
      <p>Find a movie and add it to your top list!</p>
    </div>
  {{/unless}}
{{/if}}

{{#if movie}}
  <div class="movie-info">
    <h2>Movie Information</h2>
    <p>Name: {{movie.title}}</p>
    <p>Release Year: {{movie.release_date}}</p>
  </div>
{{else}}
  {{#if movies}}
    <div id="results" class="container mt-5">
      <h2>Search Results:</h2>
      <ul>
        {{#each movies}}
          <li>
            <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}">
            <a href="/movies/{{this.id}}">{{this.title}} ({{this.release_date}})</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}}


{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}