  
  
 
  <div class="container my-5">
    {{#unless user}}
    <h1 class="text-center">Welcome to our movie website! To create your top 5 movie list, sign up and log in. Join now to share your favorites and see others tops!</h1>
    <div class="image-container">
    <img src="/images/top53.jpeg" alt="Imagen TOP 5">
    </div>
    {{/unless}}


{{#if movie}}
  <div class="movie-info">
    <h2>Movie Info</h2>
    <p>Name: {{movie.title}}</p>
    <p>Release Year: {{movie.release_date}}</p>
  </div>
{{else}}
  {{#if movies}}
    <div class="container mt-5">
      <h2>Resultados de la búsqueda:</h2>
      <ul>
        {{#each movies}}
          <li><a href="/movies/{{this.id}}"> {{this.title}} ({{this.release_date}})</a></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}} 







  





