  
  <div class="navbar">
    {{#if currentUser}}
      <a href="/auth/logout">Logout</a>
    {{else}}
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      <a href="/auth/logout">log out</a>
    {{/if}}

  </div>
  <div class="container my-5">
    <h1 class="text-center">TOP 5</h1>
    <form action="/search" method="GET">
      <div class="mb-3">
        <label for="movie" class="form-label">Película</label>
        <input id="movie" type="text" class="form-control" name="movie" />
      </div>
      <button type="submit" class="btn btn-primary">Buscar película</button>
    </form>
  </div>


{{#if movie}}
  <div class="movie-info">
    <h2>Movie Info</h2>
    <p>Name: {{movie.title}}</p>
    <p>Release Year: {{movie.release_date}}</p>
  </div>
{{else}}
  {{#if movies}}
    <div class="container mt-5">
      <h2>Resultados de la búsqueda:</h2>
      <ul>
        {{#each movies}}
          <li><a href="/movies/{{this.id}}"> {{this.title}} ({{this.release_date}})</a></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/if}}
  

{{!-- 
  <div class="container my-5">
    <h1 class="text-center">TOP 5</h1>
    {{#if currentUser}}
      <form action="/search" method="GET">
        <div class="mb-3">
          <label for="movie" class="form-label">Película</label>
          <input id="movie" type="text" class="form-control" name="movie" />
        </div>
        <button type="submit" class="btn btn-primary">Buscar película</button>
      </form>
    {{else}}
      <p>Inicia sesión para ver el formulario de búsqueda de películas.</p>
    {{/if}}
  </div> --}}