{{#if errorMessage}}
  <p class="error-message">{{errorMessage}}</p>
  <a href="{{perfilLink}}" class="go-to-profile-button">Go to profile</a>
{{else}}


  <div class="container mt-5 movie-details">
    <div class="row">
      <div class="col-md-6">
        <div class="movie-info">
          <h2>{{movie.title}}</h2>
          {{#if user}}
            <form action="/add-to-top5" method="POST" class="add-to-top-form">
              <input type="hidden" name="movieId" value="{{movie.id}}">
              <button type="submit" class="btn btn-green">Add to your top</button>
            </form>
          {{/if}}
          <p><span class="info-label">Release Year:</span> {{movie.release_date}}</p><br>
          <p><span class="info-label">Genre:</span>
            {{#each movie.genres}}
              {{this.name}}
              {{#unless @last}}, {{/unless}}
            {{/each}}
          </p><br>
          <p><span class="info-label">Overview:</span> {{movie.overview}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="movie-image">
          {{#if imageUrl}}
            <img src="{{imageUrl}}" alt="{{movie.title}}" class="img-fluid">
          {{else}}
            <div class="placeholder-image"></div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
