
  {{#if user}}
    <div class="container profile">
      <h2>Perfil</h2>
      <p>Nombre: {{user.username}}</p>
      <p>Correo electrónico: {{user.email}}</p>
    </div>
  {{/if}}

  {{#if user.top}}
    <div id="top" class="container mt-5">
      <h2>Top 5 Películas de {{user.username}}</h2>
      <ul>
        {{#each user.top.moviesData}}
          <li>
            <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}">
            <p>{{this.title}} </p>
            <form action="/remove-from-top" method="POST">
              <input type="hidden" name="movieId" value="{{this.id}}">
              <button class="btn btn-primary" type="submit">Eliminar</button>
            </form>
          </li>
        {{/each}}
      </ul>
    </div>
  {{else}}
    <div class="container mt-5">
      <p>No hay películas en el top.</p>
    </div>
  {{/if}}