{{#if user.top}}
  <div class="container mt-5 top-movies">
    {{#each user.top.moviesData}}
      <div class="movie-item">
        <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}">
        <br><br><br>
        <p class="movie-title">{{this.title}}</p>
        <form action="/remove-from-top" method="POST">
          <input type="hidden" name="movieId" value="{{this.id}}">
          <button class="btn btn-primary" type="submit">Remove</button>
        </form>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="container mt-5">
    <p>No movies in the top.</p>
  </div>
{{/if}}

{{#if user}}
  <div id="top" class="container profile">
    <div class="row">
      <div class="col">
        <h2>{{user.username}}'s Profile{{#if user.isAdmin}} - You're admin{{/if}}</h2><hr>
        <p>Email: {{user.email}}</p>
      </div>
    </div>
  </div>
{{/if}}