{{#if user}}
  <div id="top" class="container profile">
    <h2>{{user.username}}'s Profile</h2>
    <p>Email: {{user.email}}</p>
  </div>
{{/if}}

{{#if user.top}}
  <div id="top" class="container mt-5">
    <h2>{{user.username}}'s Top 5 Movies</h2>
    <ul>
      {{#each user.top.moviesData}}
        <li>
          <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}">
          <p>{{this.title}}</p>
          <form action="/remove-from-top" method="POST">
            <input type="hidden" name="movieId" value="{{this.id}}">
            <button class="btn btn-primary" type="submit">Remove</button>
          </form>
        </li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <div class="container mt-5">
    <p>No movies in the top.</p>
  </div>
{{/if}}
