{{#if top}}
  <div class="container top-details">
    <h2>Top by {{top.owner.username}}</h2>
    <div class="top-movies row">
      {{#each moviesData}}
        <div class="movie-item col-md-4">
          <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.title}}">
          <br><br><br>
          <p class="movie-title">{{this.title}}</p>
        </div>
      {{/each}}
    </div>
   <div class="comments-section">
      <h3>Comments</h3>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            {{#each top.comments}}
              <li class="list-group-item">
                <div class="mb-2">{{this.content}}</div>
                {{#if user}}
                  <a href="/posts/{{this._id}}/delete" class="btn btn-danger btn-sm float-end">Borrar</a>
                {{/if}}
                <div class="mt-2 text-muted">by: {{this.author.username}}</div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <form class="add-comment-form" action="/alltops/{{top._id}}/add-comment" method="POST">
        <div class="mb-3">
          <textarea name="content" rows="3" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
      </form>
    </div>
  </div>
{{else}}
  <div class="container">
    <p>Top not found.</p>
  </div>
{{/if}}